.dashboard-content {
    display: flex;
    flex-direction: column;
  
    align-items: center;
    gap: 24px;
    
    width: 100vw;
    padding: 128px 0 0 0;
    min-height: calc(116vh - 96px);
  }
  
.dashboard-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;

    min-width: 50%;
    padding: 14px;
    border-radius: 8px;

    border: 1px solid var(--border-color);
    background-color: var(--background-color-2);
    color: var(--font-color);
}

.options-panel {
    display: flex;
    justify-content: center;
    font-size: large;

    gap: 24px;
    min-width: 50%;
}

.options-panel a {
    display: flex;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease;
    text-transform: uppercase;

    width: 50%;
    padding: 14px;
    border-radius: 8px;

    text-decoration: none;
    border: 1px solid var(--border-color);
    background-color: var(--background-color-2);
    color: var(--font-color-2);
}
.options-panel a:hover {
    letter-spacing: 2px;
    background-color: var(--button-selected-color);
    color: var(--font-color);
    box-shadow: var(--button-color) 0px 7px 29px 0px;
}