.users-list {
    display: flex;
    flex-direction: column;

    width: 90%;
    padding: 12px 8px 14px 8px;
    gap: 26px;
    border-radius: 8px;

    border: 1px solid var(--border-color);
    background-color: var(--background-color-2);
}

.users-list div {
    display: flex;
    gap: 16px;
}
.users-list div label {
    display: flex;
    align-items: center;
    gap: 16px;
}
.users-list div label input {
    display: flex;
    font-size: medium;
    padding: 4px 6px;
    height: 100%;
    width: 24vw;

    border-radius: 6px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    color: var(--font-color);
}

.users-list ul tr {
    display: grid;
    grid-template-columns: 4% 4% 46% 46%;
}
.users-list ul tr th {
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    padding: 8px 0px;
}

.return-btn {
    display: flex;
    justify-content: center;

    transition: all 0.25s;
    padding: 4px 6px;
    border-radius: 6px;

    text-decoration: none;
    font-size: medium;

    border: 1px solid var(--border-color);
    background-color: var(--button-color);
    color: var(--font-color);
}
.return-btn:hover {
    background-color: var(--button-selected-color);
    border: 1px solid currentColor;
}
