# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diretórios de dependências
node_modules/

# Build
build/
dist/
dist-ssr/

# Ambiente
.env
.env.*.local
*.local

# Editor e SO
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Testes
coverage/

# Outros
*.tgz
