.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 80px;
    right: 4vw;
    
    margin: auto auto;
    min-width: 240px;
    max-width: 960px;
    padding: 18px 14px 16px 14px;

    border-radius: 8px;

    border: 1px solid var(--border-color);
    box-shadow: #000000 0 1px 4px;
    background-color: var(--background-color-2);
}

.dropdown main {
    display: flex;
    width: 100%;
    font-size: larger;
    gap: 18px;
    margin: 0 0 10px 0;
    padding: 10px;
    border-bottom: 2px solid var(--border-color);
}
.dropdown main div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dropdown main div h4 {
    display: flex;
    font-weight: normal;
    width: 100%;
}

.dropdown aside {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.dropdown aside div {
    display: flex;
    width: 100%;
}
.dropdown aside div:hover {
    background-color: #fff1;
    border-radius: 4px;
}
.dropdown aside div a, .logoff-btn {
    display: flex;
    font-size: larger;
    font-weight: normal;
    width: 100%;
    gap: 10px;
}

.dropdown-icon {
    display: flex;
    vertical-align: middle;
    height: auto;
    width: auto;
}

.logoff-btn {
    transition: all 0.25s;
    padding: 8px 10px;

    border: 0;
    background-color: #0000;
    color: var(--font-color);
}
.logoff-btn:hover {
    color: var(--font-color-2);
    cursor: pointer;
}