.profile-content {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 100vw;
    padding: 128px 0 0 0;
    min-height: calc(116vh - 96px);
}
.profile-content div {
    min-width: 60%;
    padding: 12px 8px 14px 8px;
    
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color-2);
    color: var(--font-color);
}

.profile-panel {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 26px 0 14px 0;
    gap: 28px;
    font-size: larger;
}

.svg-profile-bigger {
    width: 146px;
    height: 146px;
    border-radius: 100%;

    border: 1px solid var(--border-color);
    background-color: var(--background-color);
}

.profile-panel .profile-list {
    min-width: 90%;
}
.profile-panel .profile-list tr {
    display: grid;
    grid-template-columns: 24% auto;
    font-size: larger;
    text-align: left;
}
.profile-panel .profile-list tr th {
    font-weight: normal;
}
.profile-panel .profile-list tr th:first-child {
    padding: 0 12px 0 0;
    font-weight: bold;
    text-align: end;
}

/* BOTÃO DE EDITAR */
.edit-btn {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;

    transition: all 0.25s;
    padding: 14px;
    margin: 0 0 0 56px;
    border-radius: 6px;

    font-size: large;

    border: 1px solid var(--border-color);
    background-color: var(--button-color);
    color: var(--font-color);
}
.edit-btn:hover {
    background-color: var(--button-selected-color);
    border: 2px solid currentColor;
}
.edit-icon {
    display: flex;
    width: auto;
    height: 100%;
}