.content-dashboard h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--font-size-medium);

    width: 100%;
}
.content-dashboard .options-panel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;

    width: 100%;
    gap: 1rem;
}