/* PÁGINA DE ERRO */
.error-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 24px;
    max-width: var(--main-width);

    border: 2px solid var(--border-color);
    box-shadow: 4px 4px var(--shadow-color);
    background-color: var(--background-color-2);
    color: var(--font-color);
}
.error-panel h2 {
    font-size: 2.0rem;
    font-weight: bold;
}
.error-panel p {
    text-indent: 1.0rem;
    font-size: 1.2rem;
    font-weight: normal;
}

/* ERRO NO FORMULÁRIO */
.form-error {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    padding: 0.2rem;
    border-radius: 8px;

    text-shadow: 2px 2px var(--shadow-color);
    border: 1px solid currentColor;
    color: var(--error-color);
    background-color: color-mix(in srgb, currentColor 30%, #00000000 70%);
}