@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::selection {
  background-color: color-mix(in srgb, var(--font-color) 100%, #00000000 99%);
}

:root {
  /* VARIÁVEIS DE PALETA DE CORES */
  --primary-color: light-dark( #409FFF, #7FA000);
  --header-color: color-mix(in srgb, var(--primary-color) 100%, #00000000 20%);
  --footer-color: light-dark( #505050, #000000);
  --background-color: light-dark( #C0C0C0, #040404);
  --background-color-2: light-dark( #FFFFFF, #222222);
  --font-color: light-dark( #000000, #FFFFFF);
  --font-color-2: light-dark( #555555, #555555);
  --shadow-color: light-dark( #000000, #222222);
  --border-color: #444444;
  --error-color: #dc3545;
  
  /* VARIÁVEIS DE TIPOS DE FONTES */
  --font-family-1: "Inter", system-ui, Helvetica, Arial, sans-serif;
  --font-family-2: "Black Ops One", Arial, sans-serif;
  
  /* VARIÁVEIS DE FORMATAÇÂO */
  --header-height: 64px;
  --menu-width: 320px;
  --main-width: 960px;
  --radius: 8px;
  --font-size-small: 1.2rem;
  --font-size-medium: 1.4rem;
  --font-size-large: 2.0rem;
  --box-shadow: 0 0 8px var(--shadow-color);
  --text-shadow: 1px 1px var(--shadow-color);
  --fast-transition: all 0.25s ease-in-out;
  
  font-family: var(--font-family-1); 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  
  color-scheme: light dark;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  
  font: normal normal 10px var(--font-family-1);
  color: var(--font-color);
  background-color: var(--background-color)
}