@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* VARIÁVEIS DE PALETA DE CORES */
  --header-color: #00225F;
  --footer-color: #000000;

  --primary-color: #00225F;

  --background-color: #0d1117;
  --background-color-2: #151b23;

  --font-color: #FFFFFF;
  --font-color-2: #555555;

  --button-color: #3458a0;
  --button-selected-color: #4e73bc;

  --border-color: #000000;

  --shadow-color: #000000;

  --error-color: #dc3545;

  /* VARIÁVEIS DE TIPOS DE FONTES */
  --font-family-1: "Inter", system-ui, Helvetica, Arial, sans-serif;
  
  /* VARIÁVEIS DE FORMATAÇÂO DO HEADER */
  --header-height: 64px;

  /* VARIÁVEIS DE FORMATAÇÂO DO PRINCIPAL */
  --main-width: 640px;
  
  font-family: var(--font-family-1);

  color-scheme: light dark;
  color: var(--font-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}