* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #0d1117;
  --background-color-2: #151b23;

  --border-color: #2b3038;

  --font-color: #FFFFFF;
  --font-color-2: #3675c4;

  --button-color: #3458a0;
  --button-selected-color: #4e73bc;
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--font-color);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

/* PÁGINA */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
}
.content {
  display: flex;

  align-items: baseline;
  justify-content: center;
  
  width: 100vw;
  padding: 128px 0 0 0;
  min-height: calc(116vh - 96px);
}

/* FORMULÁRIO */
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 20%;
  padding: 14px;
  border-radius: 8px;

  border: 1px solid var(--border-color);
  background-color: var(--background-color-2);
}
.signup-form h2{
  width: 100%;
  padding: 0 0 10px 0 ;
  text-align: center;
  font-weight: normal;
  font-size: x-large;

  border-bottom: 1px solid var(--border-color);
}
.signup-form h3{
  width: 100%;
  padding: 0 0 10px 0 ;
  text-align: center;
  font-weight: normal;
  font-size: medium;
}
.signup-form form{
  width: 100%;
  font-size: medium;
  display: block;
}
.signup-form label{
  display: block;
  margin: 10px 0;
}
.signup-form label input{
  font-size: small;
  width: 100%;
  margin: 4px 0 0 0;
  padding: 8px 6px;
  border-radius: 6px;

  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--font-color-2);
}
.signup-form label input:empty {
  color: var(--font-color-2);
}
.signup-form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
}
.signup-form div a {
  transition: all 0.25s;
  text-decoration: none;
  color: var(--font-color-2);
}
.signup-form div a:hover {
  color: var(--font-color);
}
.signup-form div div {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

/* BOTÃO DE FORMULÁRIO */
.signup-button {
  transition: all 0.25s;
  font-size: small;
  width: 100%;
  padding: 8px 6px;
  margin: 10px 0;
  border-radius: 8px;

  border: 1px solid var(--border-color);
  background-color: var(--button-color);
  color: var(--font-color);
}
.signup-button:hover {
  background-color: var(--button-selected-color);
  cursor: pointer;
}

/* MENSAGEM DE ERRO */
.error {
  text-align: center;
  color: red;
}

/* ICONE DE PERFIL */
.svg-profile {
  width: 46px;
  height: 46px;
  border-radius: 100%;
  
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
}

/* ERRO DE LOGIN */
.login-error-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 40%;
  padding: 14px;
  border-radius: 8px;
  gap: 24px; 

  border: 1px solid var(--border-color);
  background-color: var(--background-color-2);
  color: var(--font-color);
}
.login-error-panel h2 {
  display: flex;
  font-size: 2.2em;
  line-height: 1.1;
}
.login-error-panel h3 {
  display: flex;
  font-size: 1.1em;
}
.login-error-button {
  display: flex;
  justify-content: center;

  width: 16%;
  transition: all 0.25s;
  margin: 16px 0 0 0;
  padding: 4px 2px;
  border-radius: 6px;

  text-decoration: none;
  font-size: medium;

  border: 1px solid var(--border-color);
  color: var(--font-color);
}
.login-error-button:hover {
  color: var(--font-color-2);
}