.home {
    display: block;
    text-align: center;
}
.home h1 {
    font-size: var(--font-size-large);
}
.home h2 {
    font-size: var(--font-size-small);
}
.home h1, .home h2 {
    transition: all 0.5s;
}
.home h1:hover, .home h2:hover {
    text-shadow: 0 0 4px var(--font-color);
}

.content .socials {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.0rem;
}