/* PÁGINA */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* CONTEUDO */
.content {
  display: flex;
  justify-content: center;
  align-items: baseline;

  width: 100vw;
  padding: calc(var(--header-height) + 16px) 16px 16px 16px;
  min-height: 100vh;
}
.content main {
  display: flex;
  flex-direction: column;

  padding: 1.0rem;
  gap: 1.0rem;
  border-radius: 8px;

  border: 2px solid var(--border-color);
  box-shadow: 4px 4px var(--shadow-color);
  background-color: var(--background-color-2);
  color: var(--font-color);
}

/* CONTEUDO DO DASHBOARD */
.content-dashboard main {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: var(--main-width);
  max-width: 100%;
}

/* CONTEUDO DE PERFIL */
.content-profile main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  
  width: var(--main-width);
}

/* CONTEUDO DE LISTA */
.content-list main {
  display: flex;

  width: var(--main-width);
}