/* BANNER DE PERFIL */
.profile-banner {
  position: relative;
  overflow: hidden;
  align-content: center;
  text-align: center;
  font-size: var(--font-size-small);

  width: 100%;
  height: 200px;
  border-radius: 8px;

  border: 2px solid var(--border-color);
  box-shadow: 2px 2px var(--shadow-color);
  background-color: var(--background-color);
  color: var(--font-color);
}
.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* AVATAR DE PERFIL */
.avatar-container {
  position: absolute;
  align-content: center;
  text-align: center;
  font-size: var(--font-size-small);
  overflow: hidden;
  bottom: 27px;
  left: 27px;

  width: 146px;
  height: 146px;
  border-radius: 100%;

  border: 2px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--font-color);
}
.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.avatar-container-list {
  align-content: center;
  text-align: center;
  font-size: var(--font-size-small);
  overflow: hidden;
  
  width: 3.0rem;
  height: 3.0rem;
  border-radius: 100%;
  
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
}


.content-profile section {
  display: flex;
  flex-direction: column;

  gap: 0.4rem;
}
.content-profile #username {
  display: flex;
  font-size: var(--font-size-medium);

  width: 100%;
}
.content-profile #email {
  display: flex;
  font-size: var(--font-size-small);

  width: 100%;
}
