.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-size-small);

    width: var(--main-width);
    padding: 14px;
    gap: 16px;
    border-radius: var(--radius);

    border: 1px solid var(--border-color);
    background-color: var(--background-color-2);
}
.settings h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: var(--font-size-medium);

    padding: 0.4rem 0.8rem;
    border-radius: var(--radius);
  
    border: 2px solid var(--border-color);
    box-shadow: var(--box-shadow);
    background-color: var(--primary-color);
}
.settings h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-indent: 1.0rem;

    width: 100%;
}
.settings p{
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
    text-indent: 1.0rem;
    font-weight: normal;

    width: 100%;
}