/* TABELA DE USUÁRIOS */
.users-table {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: var(--font-size-small);

    border-radius: var(--radius);

    border: 2px solid var(--border-color);
    box-shadow: 4px 4px var(--shadow-color);
    background-color: var(--background-color);
    color: var(--font-color);
}
/* HEADER DA TABELA */
.users-table th {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}
/* LINHAS DA TABELA */
.users-table tr {
    display: grid;
    grid-template-columns: 3rem max-content 1fr;
    cursor: pointer;
    
    border-top: 2px solid var(--border-color);
}
.users-table tr:hover {
    background-color: var(--background-color-2);
}
/* DADOS DA TABELA */
.users-table td {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    padding: 0.4rem;
}
.users-table td span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.users-table #user-index {
    text-align: center;
    font-weight: bolder;

    text-shadow: 2px 2px 0 var(--shadow-color);
    color: var(--font-color-2);
}
.users-table #user-name :last-child{
    color: var(--font-color-2);
}