.container-login {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-color);
}
.content-login {
    display: flex;

    align-items: baseline;
    justify-content: center;
    
    width: 100vw;
    padding: 64px 0 0 0;
    min-height: calc(116vh - 96px);
    background-size: cover;
    background-position: center;
}
