.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;

    width: 100vw;
    height: 64px;

    font-family: sans-serif;

    backdrop-filter: blur(20px);
    box-shadow: #000000 0 1px 4px;
    background-color: var(--header-color);
}

.header div {
    display: flex;
    align-items: center;
}

.header div a {
    transition: all 0.25s;
    padding: 8px 10px;

    text-decoration: none;
    font-size: larger;

    color: var(--font-color);
}
.header div a:hover {
    color: var(--font-color-2);
    cursor: pointer;
}

.header-icon {
    display: flex;
    vertical-align: middle;
    height: 100%;
    width: 26px;
}