.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8vw;

    width: 100vw;
    height: 64px;

    font-family: sans-serif;

    backdrop-filter: blur(20px);
    box-shadow: #000000 0 1px 4px;
    background-color: #010409AA;
}

.header div {
    display: flex;
    align-items: center;
}

.header div a {
    transition: all 0.25s;
    padding: 8px 10px;

    text-decoration: none;
    font-size: medium;

    color: var(--font-color);
}

.logoff-button {
    display: flex;
    width: 100%;
    transition: all 0.25s;
    padding: 8px 10px;
    
    font-size: medium;

    border: 0;
    background-color: #0000;
    color: var(--font-color);
}
.logoff-button:hover, .header div a:hover {
    color: var(--font-color-2);
    cursor: pointer;
}