/* MENU */
.dropdown {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-small);
    position: absolute;
    z-index: 1;
    top: var(--header-height);
    right: 0;
    animation-name: navAnimation;
    animation-duration: 0.4s;
    
    height: calc(100vh - var(--header-height));
    width: calc(var(--main-width) / 1.8);
    padding: 0.4rem 0.8rem;

    border: 2px solid var(--border-color);
    box-shadow: 4px 4px var(--shadow-color);
    color: var(--font-color);
    background-color: var(--background-color-2);
}

@keyframes navAnimation {
    0%   {opacity: 0;}
    100% {opacity: 100;}
}

/* TÍTULO DO MENU */
.dropdown section {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 10px;
    gap: 0.6rem;
}
.dropdown section h3, .dropdown section p {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;

    width: 100%;
}
.dropdown section h3 {
    font-weight: bold;
    font-size: var(--font-size-medium);
}
.dropdown section p {
    font-weight: normal;
}

/* BOTÕES DO MENU */
.dropdown-btn {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: var(--font-size-small);
    transition: all 0.25s;
    cursor: pointer;

    width: 100%;
    padding: 0.4rem 0.8rem;
    gap: 0.4rem;
    border-radius: 8px;

    border: 2px solid var(--border-color);
    box-shadow: 4px 4px var(--shadow-color);
    background-color: var(--primary-color);
    color: var(--font-color);
}
.dropdown-btn:hover {
    filter: brightness(150%);
}
.dropdown-btn a, .logoff-btn {
    display: flex;
    font-size: var(--font-size-large);
    font-weight: normal;
    width: 100%;
    gap: 10px;
}
.dropdown-btn .dropdown-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: auto;
}