/* MENU */
.dropdown {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    overflow: hidden;
    transition: opacity 0s, transform 0s;
    transition-delay: 0.5s;
    z-index: 1;
    
    top: var(--header-height);
    right: 0;
    height: calc(100vh - var(--header-height));
    width: 100%;
    transform: translateX(100%);
    
    opacity: 0;
    background-color: color-mix(in srgb, var(--background-color) 100%, transparent 80%);
    backdrop-filter: blur(4px);
}
.dropdown-show {
    transition: opacity 0s, transform 0s;
    opacity: 100;
    transform: translateX(0);
}
.dropdown-nav {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-small);
    transition: all 0.5s;
    transform: translateX(var(--menu-width));
    
    height: calc(100vh - var(--header-height));
    width: var(--menu-width);
    padding: 1.4rem 1.8rem;
    gap: 1.0rem;

    box-shadow: var(--box-shadow);
    background-color: var(--background-color-2);
}
.dropdown-nav-show {
    transform: translateX(0);
}

/* ITENS DO MENU */
.dropdown-item {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    text-decoration: underline;
    font-size: var(--font-size-small);
    overflow: hidden;
    text-wrap: nowrap;
    cursor: pointer;

    width: 100%;
    padding: 0.8rem;
    gap: 1.0rem;
    border-radius: 8px;

    border: none;
    background-color: var(--background-color-2);
    color: var(--font-color);
}
.dropdown-item:hover {
    color: var(--primary-color);
}
.dropdown-item .dropdown-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    height: var(--font-size-medium);
    width: var(--font-size-medium);
}