/* HEADER */
.header {
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    z-index: 1;
    font-size: var(--font-size-small);

    width: 100vw;
    padding: 0.4rem 4vw;
    height: var(--header-height);
    gap: 1rem;

    backdrop-filter: blur(20px);
    box-shadow: var(--box-shadow);
    color: var(--font-color);
    background-color: var(--header-color);
}

/* LINKS */
.header .link {
    text-decoration: none;
    font-weight: bold;
    transition: all 0.25s;
    cursor: pointer;

    padding: 0.4rem 0.8rem;
    border-radius: 8px;

    border: 2px solid var(--border-color);
    box-shadow: var(--box-shadow);
    background-color: var(--background-color-2);
    color: var(--font-color);
}
.header .link:hover {
    scale: 1.05;
}
.header .link:active {
    scale: 1.0;
    color: var(--font-color-2);
}

/* MENU DO HEADER */
.dropdown-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--font-size-large);
    transition: all 0.25s;
    cursor: pointer;
    overflow: hidden;
    
    width: 3.0rem;
    height: 3.0rem;
    
    border: none;
    background: none;
    color: var(--font-color);
}
.dropdown-menu:hover {
    scale: 1.1;
}
.dropdown-menu:active {
    scale: 0.9;
}

/* ICONES DO HEADER */
.header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}