/* IMPUTS GERAIS */
.sign-input, .sign-input.password input, .edit-input, .edit-input.password input, .search-input input {
    cursor: text;
    transition: var(--fast-transition);
    font-size: var(--font-size-small);
    font-weight: normal;
}

/* IMPUT DE ACESSO */
.sign-input{
    width: 100%;
    padding: 0.4rem 0.8rem;
    border-radius: var(--radius);

    border: 2px solid var(--border-color);
    box-shadow: var(--box-shadow);
    background-color: var(--background-color);
    color: var(--font-color);
}
.sign-input:placeholder-shown {
    color: var(--font-color-2);
}
.sign-input:focus {
    outline: 2px solid var(--primary-color);
}
.sign-input.password  {
    display: flex;
    flex-direction: row;

    padding: 0;
}
.sign-input.password input{
    width: 100%;
    padding: 0.4rem 0.8rem;
    border-radius: 6px 0 0 6px;

    border: none;
    background: none;
    color: var(--font-color);
}
.sign-input.password :placeholder-shown {
    color: var(--font-color-2);
}
.sign-input.password input:focus {
    outline: 2px solid var(--primary-color);
}
.sign-input.password button{
    margin: 0 0.4rem;
}

/* IMPUT DE EDIÇÃO */
.edit-input{
    background-color: var(--background-color-2);
}
.edit-input.password  {
    flex-direction: row;

    padding: 0;
    border-radius: 8px;

    border: 2px solid var(--border-color);
    box-shadow: var(--box-shadow);
    background-color: var(--background-color-2);
    color: var(--font-color);
}

/* IMPUT DE PESQUISA */
.search-input {
    display: flex;
    align-items: center;
    position: relative;

    height: 3.0rem;
    width: 100%;
    max-width: var(--main-width);
    border-radius: 100px;

    border: 1px solid var(--border-color);
    box-shadow: var(--box-shadow);
    background-color: var(--background-color-2);
    color: var(--font-color);
}

.search-input .icon {
    height: 100%;
    width: max-content;
    z-index: 1;
    
    border: none;
    background: none;
    color: var(--font-color);
}
.search-input .icon :only-child {
    overflow: visible;
    transition: var(--fast-transition);

    height: 100%;
    width: max-content;
    padding: 10px 10px;
    border-radius: 100px;
    
    color: var(--font-color);
}
.search-input .icon :hover {
    filter: brightness(150%);
    background-color: var(--background-color-2);
}
.search-input input {
    display: flex;
    position: absolute;
    text-indent: 3.0rem;
    transition: var(--fast-transition);
    
    height: 100%;
    width: 100%;
    padding: 0.4rem 0.8rem;
    border-radius: 100px;

    border: 0;
    background: none;
}
.search-input input:focus {
    outline: 2px solid var(--primary-color);
}